<h1>Add a New Friend</h1>
<p>{{name}}</p>
<div class="info-form">
  <label for="name">Name</label>
  <input
    [(ngModel)]="name"
    id="name"
    name="name"
    placeholder="John Doe"
    type="text"/>
  <label for="age">Age</label>
  <input
    [(ngModel)]="age"
    id="age"
    name="age"
    placeholder="12"
    type="number"/>
  <label for="profilePicUrl">Profile Picture Url</label>
  <input
    [(ngModel)]="profilePicUrl"
    id="profilePicUrl"
    name="profilePicUrl"
    placeholder="https://www.istockphoto.com/stock-photos"
    type="text"/>
  <label for="bio">Bio</label>
  <textarea
    [(ngModel)]="bio"
    id="bio"
    name="bio"
    placeholder="we first met ..."
  ></textarea>
  <label for="birthday">Birthday</label>
  <input
    [(ngModel)]="birthday"
    id="birthday"
    name="birthday"
    placeholder="i.e. March 1"
    type="text"/>
  <label for="interests">Interests (Enter as a comma-separated string)</label>
  <input
    [(ngModel)]="interests"
    id="interests"
    name="interests"
    placeholder="Basket ball, Movie, Travel"
    type="text"/>
  <button (click)="createFriend()">Create Friend</button>
</div>

